
$bordercolor:lightgray;
// .container {
//   max-width: $grid__bp-md * 1px;
//   margin: 0 auto;
//   &--fluid {
//     margin: 0;
//     max-width: 100%;
//   }
//   &__row {
//     display: flex;
//     flex-wrap: wrap;
//     width: 100%;
//   }
//   @for $i from 1 through $grid__cols {
//     &__col-#{$i} {
//       flex-basis: (100 / ($grid__cols / $i) ) * 1%;
//     }
//   }
// }

  .borderTop{
    border-top: 1px solid $bordercolor;
  }
  .borderRight{
    border-right: 1px solid $bordercolor;
  }

  .img-fix{
    width: 100%;
    height: auto 
  }
  .mt-30{
    margin-top:30px;
  }
  .pt-20{
    padding-top: 20px;
  }
  .borderBottom{
    border-bottom:1px solid $bordercolor;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .logo{
    height:65px;
    width:260px;
  }
  a{
    text-decoration:none;
  }
  .mw-100{
    max-width: 100%;
  }
  .td-n{
    text-decoration: none;
  }

